 <div>
  Copyright {{ currentYear }} <br/>
  All rights reserved.
</div>
<div>{{ tagline }}</div>
<div>
  {{ address }}<br/>
  {{ phoneNumber }}<br/>
  <a href="mailto:{{ emailContact }}"><span>{{ emailContact }}</span></a>
</div>
